h1 {
  color: red;
}
button {
  margin-left: -4%;
  background-color: red;
  padding: 20px 30px;
  color: white;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

h2 {
  color: white;
}
* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  align-items: center;
  color: white;
}

body {
  font-size: large;
  background-image: url(/pizzadefinitiva.jpg);
  background-size: 99%;
  margin-block: 50px;
  margin-inline: 50px;
}
label {
  margin-left: 0%;
}
